#app {
  height: 100%;
  display: grid;
  grid-template-rows: 0.3fr 1fr 20px;
}

.container {
  padding: 10px 10px;
  width: $defaulMaxWidth;
  color: get-color('tertiary');
  background-color: get-color('secondary');
}